body {
    font-size: 15px;
}

.container {
    max-width: 1000px;
    background-color: #AAD3DF;
    margin: 0 auto;
}

h1, h2, h3 {
    color: mediumblue;
}

/* h1 {
    margin: 0 50px;
    padding-top: 20px;
} */

h5 {
    margin-left: 10px;
}

/* .home {
    margin: 0 50px;
    padding: 0;
} */

a:link {
    color:mediumblue;
}

a:visited {
    color: mediumblue;
}

a:hover {
    color: mediumblue;
}

#home {
    color: white;
}

.container2 {
    background-color: white;
    width: 600px;
    margin: 0 auto;
    color: mediumblue;
}

.container2 li {
    margin-left: 1em;
}

.container3 {
    display: grid;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: mediumblue;
}

.container3 Button {
    /* margin-top: 1em; */
    margin-left: 1em;
    width: 6.5em;
    height: 6.5em;
}

.symbol {
    font-weight: bold;
    font-size: 50px;
    color: mediumblue;
}

.symbol1 {
    font-weight: bold;
    font-size: 60px;
    color: mediumblue;
}
