.container2 {
    max-width: 1000px;
}

.nav {
    background-color: ffffff;
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
}

.resetLink {
    cursor: pointer;
    color: cornflowerblue;
}

.resetLink:hover {
    text-decoration: underline;
}
